@import 'ngx-toastr/toastr';


html {
  height: 100vh;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

p {
  font-family: Lato; 
}


.main-table {
  width: 97%;
  height: 85%;
  /* margin: 1em; */
  padding: 0 1em 1em 1em;
}

.fixed-width {
  min-width: 200px;
}
.btn-edit {
  margin: 0;
  padding: 0;
 
}

h2 {
  text-align: center;
  padding-top: 20px;
}

.button-add-row {
  color: #070933;
}

.icon-btn {
  background-color: white;
  border: none;
  height: 21px;
  width: 21px;
}

.mat-icon {
  font-size: 20px;
}

.material-symbols-outlined {
  vertical-align: bottom;
  color: #0070AD;
  margin-right: 5px;
}

.btn-text {
  color: #070933;
  font-weight: bold;
}

/* .form-input {
  display:inline-flexbox;
  width: 5em;
  height: 3.5em;
} */

.date {
 font-size: 10px;
}


.table-responsive {
 width: 98%;
 margin-left: 0.5%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  margin: 0!important;
  padding: 0 4px!important;
}

.mdc-data-table__cell:first, .mdc-data-table__cell:last, .mdc-data-table__header-cell:first, .mdc-data-table__header-cell:last {
  padding: 0px!important;
}

td.mat-cell {
  border-bottom-style: none;
}
.mat-mdc-text-field-wrapper {
  margin: 0!important;
  padding: 0!important;
}

ngb-modal-backdrop {
  z-index: 1000!important;
}

.delete-table {
  margin: 1em 3em;
  border-spacing:1em; 
  border-collapse: separate;
}

.button-cancel, .button-delete {
  max-width: 30%;
  display:inline-block;
  margin: 1em;
}

.button-delete {
  background-color: #070933!important;
  color: #fff!important;
}

.container {
  text-align: center;
  margin: 1em 3em;
  vertical-align: middle;
}

.modal-title {
  color: #070933;
  text-align: center;
  display: flex;
}

.upload {
  border: none;
  background-color: white;
  color: green;
  font-weight: bold;
}

.delete {
  border: none;
  background-color: white;
  color: orangered;
  font-weight: bold;
 }

.upload:hover {
  cursor: pointer;
}

input[type="file"]{
  display: none;
}

label{
  cursor: pointer;
}

.mat-mdc-form-field-subscript-wrapper {
  position: absolute!important;
}

.parent {
  max-width: 80%;
  margin: auto;
  padding: 10px;
}

.mat-mdc-form-field-flex {
  display: inline-block!important;
}

.filter {
  width: 100%!important;
  text-align: center;
}

.mat-mdc-form-field-infix {
  width: 100%!important;
  text-align: center;
}

/* .mat-mdc-icon-button svg, .mat-mdc-icon-button img {
  width: 15px;
} */