@import 'ngx-toastr/toastr';


p {
    font-family: Lato;
  }

.main-table {
    width: 97%;
    height: 85%;
    /* border: solid grey; */
    margin: 1em;
  }

  .btn-edit {
    text-align: right;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  
  .table-header {
    width: 100%;
    padding: 1%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-add-row {
    color: #070933;
  }
  
  .button-remove-rows {
    background: red;
    color: #ffffff;
    margin-right: 5px;
  }

  .form-input {
    padding-right: 5px;
  }

  .mat-mdc-checkbox {
    width: 15px;
  }

  .icon-btn {
    background-color: white;
    border: none;
    height: 21px;
    width: 21px;
  }

  .mat-icon {
    font-size: 20px;
  }

  .material-symbols-outlined {
    vertical-align: bottom;
    color: #0070AD;
    margin-right: 5px;
  }

  .btn-text {
    color: #070933;
  }