@import 'ngx-toastr/toastr';

body {
  height: 99%;
  max-width: 99%;
}

p {
  font-family: Lato; 
}


.main-table {
  width: 97%;
  height: 85%;
  margin: 1em;
  padding-left: 1em;
}

.btn-edit {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

.button-add-row {
  color: #070933;
}

.icon-btn {
  background-color: white;
  border: none;
  height: 21px;
  width: 21px;
}

.mat-icon {
  font-size: 20px;
}

.material-symbols-outlined {
  vertical-align: bottom;
  color: #0070AD;
  margin-right: 5px;
}

.btn-text {
  color: #070933;
}

.form-input {
  display:inline-flexbox;
  width: 5em;
  height: 3.5em;
}

.table-responsive {
 width: 98%;
 margin-left: 0.5%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}


.mdc-data-table__cell, .mdc-data-table__header-cell {
  margin: 0!important;
  padding-left: 1rem!important;
}

.mat-mdc-form-field {
  width: 100%!important;
  display: -webkit-box!important;
}

td.mat-cell {
  border-bottom-style: none;
}
.mat-mdc-text-field-wrapper {
  margin: 0!important;
  padding: 0!important;
}