
.main {
    height: 100%;
}

.mat-mdc-table .mdc-data-table__row {
    height: 20px;
}
.table-header {
    width: 100%;
    padding: 1%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h5 {
    color: #0070AD;
}

.bday-table {
    height: 48%;
    position: absolute;
    top: 0;
    width: 100%;}

.jubel-table {
    height: 48%;
    position: absolute;
    bottom: 0;
    width: 100%;
}