
.main {
    height: 100%;
}

.mat-mdc-table .mdc-data-table__row {
    height: 50px;
}
.table-header {
    width: 100%;
    padding: 1%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h5 {
    /* color: #0070AD; */
    color: #070933;
}

.bday-table {
    height: 48%;
    position: absolute;
    top: 0;
    width: 95%;
    margin: 0 20px;
}

.jubel-table {
    height: 48%;
    position: absolute;
    bottom: 0;
    width: 95%;
    margin: 0 20px;
}

.nav-date {
    text-align: center;
}

.btn-arrow {
    background-color: white;
    border: none;
    cursor: pointer;
}

.center {
    text-align: center;
}